<html>
<head>
  <title> MOVIE LOVERS!</title>
</head>
<body>
  <h1> Welcome to the MOVIE LOVERS GAME!</h1>
  <form action="/search" method="POST">
    <input type="text" name="movie" value="movie"> <br>
    <button type="submit" name="creation" value="creation">SEARCH</button>
  </form>

</body>
</html>