<html>
<head>
  <title>MOVIE LOVERS!</title>
</head>
<body>
  <h1> Welcome to the MOVIE LOVERS GAME!</h1>
  <% binding.pry%>
  <% @nine_fimls.each do |movie|%>
    <img src="<%=movie.poster%>" width="100px">
  <% end %>
</body>
</html>